*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.logo:hover{
    color: rgb(210, 185, 185);
}
.nav-btns{
    color:white;
    font-size: 25px;
    text-decoration: none;
    margin-right: 20px;
}
.nav-btns:hover{
    color: rgb(210, 185, 185);
}